@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: black;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-destaque-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secudaria:'montserra', sans-serif; 

}


* {
    /*retira as configurações de margem, padding, borda do CSS. O asterisco aplica a todos os componentes*/
    margin: 0;
    padding: 0;
}

body {
    /*mantem o tamanho da tela em 100% */
    /*height: 100vh;*/
    /*o border-box informa ao navegador para contabilizar qualquer borda e preenchimento nos valores especificados para a largura e a altura de um elemento.*/
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 20%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu_link {
    font-family: var(--fonte-secudaria);
    font-weight: 600;
    font-size: 1rem;
    color: #22D4FD;
    text-decoration: none;
}

.apresentacao {
    padding: 8% 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.apresentacao__conteudo {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 1.87rem;
    font-family: var(--fonte-primaria);
    align-items: center;
    text-align: left;
    justify-content:left;
}

.titulo-destaque {
    /* uso de classe. Essa classe foi referenciada no titulo e traga aqui para o CSS. Garante que somente aquela tag sofrerá alteração*/
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.25rem;
    font-weight: 0;
    line-height: 30px;
    letter-spacing: 0px;
    font-family: var(--fonte-secudaria);
    text-align: left;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.apresentacao__links__subtitulo {
    font-size: 1rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;

}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    /*background-color: #22D4FD;*/
    width: 70%;
    /*height: 10px;*/
    border: 2px solid #22D4FD;
    border-radius: 8px;
    font-weight: 600;
    font-family: var(--fonte-secudaria);
    font-size: 1rem;
    color: var(--cor-secundaria);
    padding: 15px 0;
    text-decoration: none;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-destaque-hover);
}

.apresentacao__imagem{
    width: 50%;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    padding: 10px;
    font-family: var(--fonte-secudaria);
    font-weight: 400;
}

@media (max-width: 1200px){

    .cabecalho {
        padding: 15% 0% 0% 1%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .cabecalho__menu_link{
        font-size: 0.8rem;
    }

    .apresentacao{
        flex-direction: column-reverse;
        gap: 25px;
        padding: auto;
    }

    .apresentacao__conteudo{
        width: auto;
        gap: 20px
    }

    .apresentacao__conteudo__titulo {
        font-size: 1rem;
    }

    .apresentacao__conteudo__texto{
        font-size: 0.8rem;
    }

    .apresentacao__links__subtitulo{
        font-size: 0.8rem;
    }

    .apresentacao__links__navegacao{
        font-size: 0.8rem;
        padding: 10px;
    }

    .rodape{
        font-size: 0.6rem;
    }
    
}
